.map__image{
    width: 50%;
    float: left;
}

.map__image path  {
    fill: #415F77;
    stroke: #769cb5;
    stroke-width: 1px;
    transition: fill .3s;
}
.map__image polygon  {
    fill: #415F77;
    stroke: #769cb5;
    stroke-width: 1px;
    transition: fill .3s;
}

.map__list{
    width: 50%;
    float: left;
}


.map__list a{
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ;
}

.map__image path:hover{
    fill: rgb(167, 168, 168);
}

.map__image polygon:hover{
    fill: rgb(167, 168, 168);
}